body, html {
    height: 100%;
}
.navbar {
    margin-bottom: 0;
}
.navbar-right {
    float: right!important;
}
.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}
.navbar-collapse.collapse {
    display: block!important;
}
.message-list {
    overflow: scroll;
    margin: 0;
    padding: 0 15px;
}
.message-section {
    height: 100%;
}
.message-composer {
    border-top: 1px solid #e7e7e7;
}
.message-composer input {
    width: 100%;
}

/*
* Helper Classes
*/
.layout-flex-column {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.layout-flex-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.flex {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.center-content {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.margin-top {
    margin-top: 25px;
}
.full-width {
    width: 100%;
}